# Copyright (C) 2007-2010, GoodData(R) Corporation. All rights reserved.
###############################################################################
#
#   Section: {Title of this documentation}
#
#	{There can be one sentence about this documentation.}

###############################################################################
# Topic: Description
#
#	{There should be brief description of this section of documentation. It
#	should describe logical scope of resources/data structures described
#	here}
#

###############################################################################
# Section: Resources
###############################################################################

###############################################################################
# Resource: {resource symbolic name}
#
#	{One sentence describing resource}
#
# Topic: Synopsis
#
#>	{uri path template}
#
#	parameters:
#		{query parameters if any}
#
#	{There should be exhausting specification of resource behavior in form:
#
#   (start example)
#	{HTTP method} {Input structure}
#		-> {HTTP code} {Output structure}
#	(end)
#
#	e.g.
#
#   (start example)
#	GET *
#		-> OK GetOutput
#		-> (404 Not Found) * % Key is not defined
#
#	POST Request1
#		-> OK Answer1
#		-> (400 Bad request) ErrorStruct % Request is wrong
#		-> (404 Not Found) *             % Key is not defined
#
#	POST Request2
#		-> OK Answer2    % Bunny is happy
#	(end)
#
#	Don't forget briefly describe variants using comments as above.}
#
# Topic: Flags
#
#	See <Flags Semantics> for details.
#
# scope - {global | project-level}
# access control - {unrestricted | authorization required}
# visibility - {public | internal}
# state - {draft | supported since {release} | deprecated since {release}}
#
# Topic: Description
#
#	{There should be not so much brief description of resource. There should be
#	answered two main questions: Why? and How?. It means, Why someone should
#	use this resource? What is purpose of this resource? How it works? What is
#	intentional way to interact with this resource}
#
# Topic: Random Remarks
#
#	{performance, complexity, related resources, etc.}
#
# Topic: Performance mini-status
#
#	{stable-xx, avg/median time}
#
# Topic: Example
#
#	{There should be shown and commented example of calls, structures and using
#	this resource.}
#

###############################################################################
# Section: Data Structures
###############################################################################

###############################################################################
# Structure: {Structure name}
#
#	{One short sentence describing this data structure}
#
# Topic: Specification
#
#   (start code)
#	{Structure definition as usual. Don't forget comment some keys meanings.}
#   (end)
#
# Topic: Description
#
#	{There should be described meaning of structure especially for top level
#	structures. Meaning of keys can be briefly described in structure
#	definition as comment.}
#

###############################################################################
# Section: Example
###############################################################################
#
#	{There should be shown and commented example workflow on resources
#	documented in this document}

################################################################################
# Section: Info
################################################################################
#
# About: Owner(s)
#
#	{Owner Name or names separated by comma, persons which are responsible for
#	completeness and correctness of this documentation.}
